<p>error-page works!</p>

<ul>
    <!-- Auth -->
    <li>
        <a routerLink="/auth/login">Login</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Registro</a>
    </li>

    <hr>

    <!-- Heores -->

    <li>
        <a routerLink="/heroes/listado">Listado de heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Agregar nuevo heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id">Editar heroe</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Buscar heroes</a>
    </li>
    <li>
        <a routerLink="/heroes/:id">Ver heroe</a>
    </li>

</ul>